main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    padding-top: 5vh;
}

article{
    width: 80%;
    background-color: #f5cccc;
    box-shadow: rgb(47, 6, 228) 5px 5px 10px 0;
    padding: 10px;
    margin-bottom: 2.5vh;

}

article>h2 {
    color: #a52a2a;
    font-size: 2em;
    margin-bottom: 1.5vh;
}

article>h3 {
    color: #a52a2a;
    font-size: 1.5em;
    margin-bottom: 1.5vh;
}

article>p, article>li {
    font-size: 1.2em;
}

article>ul {
    margin-left: 20px;
}

.espace{
    height: 40vh;
}

